In [ ]:
# @title Inspect the schema of bigquery-public-data.thelook_ecommerce.events
from google.cloud import bigquery

# Construct a BigQuery client object.
client = bigquery.Client()

# Fetch the table
table = client.get_table('bigquery-public-data.thelook_ecommerce.events')

# View table info
print("{} rows".format(table.num_rows))
for row in table.schema:
  print("Column {}: {}".format(row.name, row.field_type))

In [ ]:
# @title Setup bigquery client and formatting
from google.cloud import bigquery
from google.colab import data_table

project = 'airflow-demo-437509' # Project ID inserted based on the query results selected to explore
client = bigquery.Client(project=project)
data_table.enable_dataframe_formatter()

In [ ]:
# @title Executes the query

sql = '''# prompt: สรุปจำนวน event จาก trafic source , ทุก event_type, browser

SELECT
  traffic_source,
  event_type,
  browser,
  COUNT(*) AS total_event
FROM
  `bigquery-public-data.thelook_ecommerce.events`
GROUP BY
  traffic_source,
  event_type,
  browser;'''
query = client.query(sql)
query
# @title Render the query results

job = client.get_job(query.job_id)
df = job.to_dataframe()
df

In [ ]:
# @title Executes the query

sql1 = '''# prompt: count unique total users group by trafic source , country where user id is not empty

SELECT
  events.traffic_source,
  events.city,
  COUNT(DISTINCT events.user_id)
FROM
  `bigquery-public-data.thelook_ecommerce.events` AS events
WHERE
  events.user_id IS NOT NULL
GROUP BY
  1,
  2;'''
query1 = client.query(sql1)
query1
# @title Render the query results

job1 = client.get_job(query1.job_id)
df1 = job1.to_dataframe()
df1